<a href="https://colab.research.google.com/github/nabdelghany00/DataAnalyst/blob/main/Data_Analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/DataAnalyst.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2253 non-null   int64
 1   Job Title          2253 non-null   object
 2   Salary Estimate    2253 non-null   object
 3   Job Description    2253 non-null   object
 4   Rating             2253 non-null   float64
 5   Company Name       2252 non-null   object
 6   Location           2253 non-null   object
 7   Headquarters       2253 non-null   object
 8   Size               2253 non-null   object
 9   Founded            2253 non-null   int64
 10  Type of ownership  2253 non-null   object
 11  Industry           2253 non-null   object
 12  Sector             2253 non-null   object
 13  Revenue            2253 non-null   object
 14  Competitors        2253 non-null   object
 15  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 281.8+ KB

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [ ]:
df.drop(columns="Unnamed: 0",inplace=True)
display(df)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [ ]:
def title_simplifier (title):
    if "business" in title.lower():
        return "Business Data Analyst"
    elif "data science" in title.lower() or 'data scientist' in title.lower():
        return "Data Science"
    elif "data warehouse" in title.lower():
        return "Data Warehouse Analyst"
    elif "data engineer" in title.lower():
        return "Data Engineer"
    elif "quality" in title.lower():
        return "Data Quality Analyst"
    elif "reporting" in title.lower():
        return "Reporting Data Analyst"
    elif "security" in title.lower():
        return "Data Security Analyst"
    elif "analyst" in title.lower():
        return "Data Analyst"
    else:
     return np.NaN

def seniority(title):
  if 'sr' in title.lower() or 'senior' in title.lower() or "II" in title.lower() or "2" in title.lower() :
        return 'Senior'
  elif  'lead' in title.lower() or 'principal' in title.lower() or "3" in title.lower():
    return "Lead"
  elif 'jr' in title.lower() or 'junior' in title.lower():
        return 'Junior'
  elif "Entry Level" in title.lower():
      return "Entry Level"
  else:
    return "Unknown / Non-Applicable"

In [ ]:
df["job_title"]=df["Job Title"].apply(title_simplifier)
display(df)
df["Seniority Level"]=df["Job Title"].apply(seniority)
display(df)
df.isnull().sum()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,job_title
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,Data Analyst
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,Data Quality Analyst
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,Data Analyst
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,Data Analyst
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,Data Security Analyst
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1,Data Analyst
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1,Business Data Analyst
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1,Data Analyst
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1,Data Quality Analyst

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,job_title,Seniority Level
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,Data Analyst,Unknown / Non-Applicable
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,Data Quality Analyst,Unknown / Non-Applicable
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,Data Analyst,Senior
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,Data Analyst,Unknown / Non-Applicable
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,Data Security Analyst,Senior
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1,Data Analyst,Senior
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1,Business Data Analyst,Unknown / Non-Applicable
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1,Data Analyst,Lead
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1,Data Quality Analyst,Senior

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         1
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
job_title            0
Seniority Level      0
dtype: int64

In [ ]:
df.drop(columns="Job Title",inplace=True)
display(df)

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,job_title,Seniority Level
0,$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,Data Analyst,Unknown / Non-Applicable
1,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,Data Quality Analyst,Unknown / Non-Applicable
2,$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,Data Analyst,Senior
3,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,Data Analyst,Unknown / Non-Applicable
4,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,Data Security Analyst,Senior
2249,$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1,Data Analyst,Senior
2250,$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1,Business Data Analyst,Unknown / Non-Applicable
2251,$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1,Data Analyst,Lead
2252,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1,Data Quality Analyst,Senior

In [ ]:
import re
def salarySplitter(salary):
  salaryList=re.findall("\d+",salary)
  if len(salaryList)==2:
    min=int(salaryList[0])*1000
    max=int(salaryList[1])*1000
    avg=(min+max)/2
    return pd.Series([min,max,avg])
  else:
    return pd.Series([None,None,None])
salarySplitter("$78K-$104K (Glassdoor est.)")

0     78000.0
1    104000.0
2     91000.0
dtype: float64

In [ ]:
df["Salary Estimate"].apply(salarySplitter)

            0         1        2
0     37000.0   66000.0  51500.0
1     37000.0   66000.0  51500.0
2     37000.0   66000.0  51500.0
3     37000.0   66000.0  51500.0
4     37000.0   66000.0  51500.0
...       ...       ...      ...
2248  78000.0  104000.0  91000.0
2249  78000.0  104000.0  91000.0
2250  78000.0  104000.0  91000.0
2251  78000.0  104000.0  91000.0
2252  78000.0  104000.0  91000.0

[2253 rows x 3 columns]

In [ ]:
df[["Minimum Salary","Maximum Salary","Average Salary"]]=df["Salary Estimate"].apply(salarySplitter)

In [ ]:
df.drop(columns="Salary Estimate",inplace=True)
display(df)

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,job_title,Seniority Level,Minimum Salary,Maximum Salary,Average Salary
0,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
1,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,Data Quality Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
2,Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,Data Analyst,Senior,37000.0,66000.0,51500.0
3,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
4,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,Data Security Analyst,Senior,78000.0,104000.0,91000.0
2249,Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1,Data Analyst,Senior,78000.0,104000.0,91000.0
2250,"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1,Business Data Analyst,Unknown / Non-Applicable,78000.0,104000.0,91000.0
2251,Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1,Data Analyst,Lead,78000.0,104000.0,91000.0
2252,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1,Data Quality Analyst,Senior,78000.0,104000.0,91000.0

In [ ]:
#we have to replace all -1s with NaN, as some values are not logical compared to the domain scope
df.replace({-1,-1.0,"-1","-1.0"},np.NaN,inplace=True)
df.info()
display(df)
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Description    2253 non-null   object
 1   Rating             1981 non-null   float64
 2   Company Name       2252 non-null   object
 3   Location           2253 non-null   object
 4   Headquarters       2081 non-null   object
 5   Size               2090 non-null   object
 6   Founded            1593 non-null   float64
 7   Type of ownership  2090 non-null   object
 8   Industry           1900 non-null   object
 9   Sector             1900 non-null   object
 10  Revenue            2090 non-null   object
 11  Competitors        521 non-null    object
 12  Easy Apply         80 non-null     object
 13  job_title          2253 non-null   object
 14  Seniority Level    2253 non-null   object
 15  Minimum Salary     2252 non-null   float64
 16  Maximum Salary     2252 non-null   float64
 17  Average Salary     2252 non-null   float64
dtypes: float64(5), object(13)
memory usage: 317.0+ KB

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,job_title,Seniority Level,Minimum Salary,Maximum Salary,Average Salary
0,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),NaN,True,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
1,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,NaN,Data Quality Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
2,Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,NaN,Data Analyst,Senior,37000.0,66000.0,51500.0
3,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),NaN,NaN,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
4,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,NaN,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,NaN,NaN,Data Security Analyst,Senior,78000.0,104000.0,91000.0
2249,Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935.0,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",NaN,Data Analyst,Senior,78000.0,104000.0,91000.0
2250,"Title: Technical Business Analyst (SQL, Data a...",NaN,Spiceorb,"Denver, CO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business Data Analyst,Unknown / Non-Applicable,78000.0,104000.0,91000.0
2251,Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),NaN,NaN,Data Analyst,Lead,78000.0,104000.0,91000.0
2252,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",NaN,Data Quality Analyst,Senior,78000.0,104000.0,91000.0

Job Description         0
Rating                272
Company Name            1
Location                0
Headquarters          172
Size                  163
Founded               660
Type of ownership     163
Industry              353
Sector                353
Revenue               163
Competitors          1732
Easy Apply           2173
job_title               0
Seniority Level         0
Minimum Salary          1
Maximum Salary          1
Average Salary          1
dtype: int64

In [ ]:
#We can observe that the rating column has got its rating in the company name as well
#We just want to make sure that the null ratings have null ratings in the company name column too
#We'll see whenever the rating column was empty, the rating in the company name was empty or not
display(df[df["Rating"].isnull()][["Rating","Company Name"]])
#We made sure that both columns have no ratings
df["Rating"].value_counts()
#Filling null values in rating column with 0
df.fillna({"Rating":0},inplace=True)
display(df)
display(df.isnull().sum())
display(df["Rating"].value_counts())

      Rating                                 Company Name
11       NaN                                     BulbHead
21       NaN                        MUSIC & Entertainment
34       NaN                                     Carry1st
36       NaN                                 Clear Street
40       NaN                                        Pinto
...      ...                                          ...
2200     NaN    TechAspect Solutions, Inc. dba TA Digital
2202     NaN  Black Knight Financial Technology Solutions
2239     NaN                                  Amyx, Iinc.
2246     NaN                                     Spiceorb
2250     NaN                                     Spiceorb

[272 rows x 2 columns]

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,job_title,Seniority Level,Minimum Salary,Maximum Salary,Average Salary
0,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),NaN,True,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
1,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,NaN,Data Quality Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
2,Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,NaN,Data Analyst,Senior,37000.0,66000.0,51500.0
3,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),NaN,NaN,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
4,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,NaN,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,NaN,NaN,Data Security Analyst,Senior,78000.0,104000.0,91000.0
2249,Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935.0,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",NaN,Data Analyst,Senior,78000.0,104000.0,91000.0
2250,"Title: Technical Business Analyst (SQL, Data a...",0.0,Spiceorb,"Denver, CO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business Data Analyst,Unknown / Non-Applicable,78000.0,104000.0,91000.0
2251,Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),NaN,NaN,Data Analyst,Lead,78000.0,104000.0,91000.0
2252,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",NaN,Data Quality Analyst,Senior,78000.0,104000.0,91000.0

Job Description         0
Rating                  0
Company Name            1
Location                0
Headquarters          172
Size                  163
Founded               660
Type of ownership     163
Industry              353
Sector                353
Revenue               163
Competitors          1732
Easy Apply           2173
job_title               0
Seniority Level         0
Minimum Salary          1
Maximum Salary          1
Average Salary          1
dtype: int64

Rating
0.0    272
3.9    140
3.6    135
3.7    132
5.0    131
3.8    130
4.0    129
3.5    125
4.1    119
3.3    109
3.4    101
3.2     91
3.1     68
3.0     57
4.3     55
4.2     47
4.5     47
4.6     46
4.4     46
2.8     43
2.9     40
2.5     32
4.8     29
2.7     25
4.7     23
4.9     17
2.6     14
1.0     10
2.4     10
2.3      9
2.0      6
2.1      4
2.2      3
1.7      2
1.8      2
1.6      2
1.9      2
Name: count, dtype: int64

In [ ]:
df.dropna(subset=["Company Name"],inplace=True)
display(df.isnull().sum())

Job Description         0
Rating                  0
Company Name            0
Location                0
Headquarters          171
Size                  162
Founded               659
Type of ownership     162
Industry              352
Sector                352
Revenue               162
Competitors          1731
Easy Apply           2172
job_title               0
Seniority Level         0
Minimum Salary          1
Maximum Salary          1
Average Salary          1
dtype: int64

In [ ]:
df["Headquarters"].fillna("Unknown",inplace=True)
df["Easy Apply"].fillna(False,inplace=True)
df.isnull().sum()

<ipython-input-212-3c2bc9e0af89>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Headquarters"].fillna("Unknown",inplace=True)
<ipython-input-212-3c2bc9e0af89>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Easy Apply"].fillna(False,inplace=True)

Job Description         0
Rating                  0
Company Name            0
Location                0
Headquarters            0
Size                  162
Founded               659
Type of ownership     162
Industry              352
Sector                352
Revenue               162
Competitors          1731
Easy Apply              0
job_title               0
Seniority Level         0
Minimum Salary          1
Maximum Salary          1
Average Salary          1
dtype: int64

In [ ]:
#We can transform the competitors column into the number of competitors in order to avoid any redundancy
#df["Competitors"].fillna("Unknown",inplace=True)
def competitorsToNumber(comp):
  #A built-in function checks whether the value bypassed as a 1st parameter matches the second parameter type or not
  if isinstance(comp,str):
    return len(comp.split(","))
  else:
    return 0
df["Competitors"].apply(competitorsToNumber)
df["No. of Competitors"]=df["Competitors"].apply(competitorsToNumber)
display(df)

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,job_title,Seniority Level,Minimum Salary,Maximum Salary,Average Salary,No. of Competitors
0,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),NaN,True,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0
1,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,False,Data Quality Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0
2,Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,False,Data Analyst,Senior,37000.0,66000.0,51500.0,1
3,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),NaN,False,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0
4,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,NaN,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,NaN,False,Data Security Analyst,Senior,78000.0,104000.0,91000.0,0
2249,Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935.0,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",False,Data Analyst,Senior,78000.0,104000.0,91000.0,3
2250,"Title: Technical Business Analyst (SQL, Data a...",0.0,Spiceorb,"Denver, CO",Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Business Data Analyst,Unknown / Non-Applicable,78000.0,104000.0,91000.0,0
2251,Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),NaN,False,Data Analyst,Lead,78000.0,104000.0,91000.0,0
2252,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",False,Data Quality Analyst,Senior,78000.0,104000.0,91000.0,3

In [ ]:
#pd.options.display.max_colwidth=None
df[df["No. of Competitors"]==4][["Competitors"]]

                                            Competitors
2087  DHL Global Forwarding, Freight, DB Schenker, P...

In [ ]:
df[df["Rating"]==df["Rating"].max()]

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,job_title,Seniority Level,Minimum Salary,Maximum Salary,Average Salary,No. of Competitors
26,We are building Duolingo's newly formed FP&A /...,5.0,Duolingo\n5.0,"New York, NY","Pittsburgh, PA",201 to 500 employees,2011.0,Company - Private,Internet,Information Technology,$10 to $25 million (USD),NaN,False,Business Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0
42,"Whip Media Group's products, including Mediamo...",5.0,Whip Media Group\n5.0,"New York, NY","Santa Monica, CA",51 to 200 employees,2016.0,Company - Private,NaN,NaN,Unknown / Non-Applicable,NaN,False,Data Analyst,Unknown / Non-Applicable,46000.0,87000.0,66500.0,0
78,Job Description\nMulberry is disrupting a $40B...,5.0,Mulberry Technology\n5.0,"New York, NY","New York, NY (US), NY",1 to 50 employees,NaN,Company - Private,NaN,NaN,Unknown / Non-Applicable,NaN,False,Data Analyst,Unknown / Non-Applicable,51000.0,88000.0,69500.0,0
81,"Los Angeles, CA | New York, NY\n\nEmail career...",5.0,"EDO, Inc.\n5.0","New York, NY","Los Angeles, CA",1 to 50 employees,NaN,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,NaN,False,Data Analyst,Unknown / Non-Applicable,51000.0,88000.0,69500.0,0
106,60 months experience in SQL/SQL TOAD;\n60 mont...,5.0,Crossfire Consulting Corporation\n5.0,"New York, NY","Yorktown Heights, NY",51 to 200 employees,NaN,Company - Private,Consulting,Business Services,$5 to $10 million (USD),NaN,False,Data Analyst,Unknown / Non-Applicable,51000.0,87000.0,69000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,"Gloo, headquartered in beautiful Boulder, Colo...",5.0,Goldstone Partners\n5.0,"Boulder, CO","Denver, CO",1 to 50 employees,NaN,Company - Private,Staffing & Outsourcing,Business Services,Less than $1 million (USD),NaN,False,Data Analyst,Unknown / Non-Applicable,49000.0,91000.0,70000.0,0
2207,"We are looking for data analysts, data wrangle...",5.0,xentity corporation\n5.0,"Denver, CO","Lakewood, CO",51 to 200 employees,2001.0,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),NaN,False,Data Analyst,Unknown / Non-Applicable,49000.0,91000.0,70000.0,0
2220,MDG Functional Data Analyst\nLocation: Greenwo...,5.0,Georgia IT Inc.\n5.0,"Greenwood Village, Arapahoe, CO","Alpharetta, GA",1 to 50 employees,NaN,Company - Private,NaN,NaN,Less than $1 million (USD),NaN,False,Data Analyst,Unknown / Non-Applicable,57000.0,100000.0,78500.0,0
2221,Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Denver, CO","Woodridge, IL",51 to 200 employees,2008.0,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),NaN,False,Data Analyst,Junior,57000.0,100000.0,78500.0,0
2226,Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Denver, CO","Woodridge, IL",51 to 200 employees,2008.0,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),NaN,False,Data Analyst,Junior,57000.0,100000.0,78500.0,0

In [ ]:
df.reset_index(inplace=True,drop=True)
#To revert the column width back to its normal form
pd.reset_option('display.max_colwidth')
display(df.groupby("Founded").agg({"Average Salary":"sum"}).sort_values(by="Average Salary",ascending=False).head(20))

         Average Salary
Founded
2008.0        5206500.0
2002.0        4288500.0
2000.0        4067000.0
1996.0        3935500.0
1999.0        3735000.0
2004.0        3591500.0
1998.0        3360000.0
1997.0        3358000.0
2011.0        3343500.0
2013.0        2756500.0
2012.0        2620000.0
2007.0        2356000.0
1995.0        2353000.0
2014.0        2341500.0
1990.0        2235000.0
2001.0        2212000.0
2010.0        2185000.0
1966.0        2151000.0
2006.0        2137500.0
2015.0        2007000.0

In [ ]:
#lambda is a function definition blueprint which is used for short code
python_1=lambda x:1 if "python" in x.lower() else 0

df["Python yn"]=df["Job Description"].apply(python_1)
display(df)

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,job_title,Seniority Level,Minimum Salary,Maximum Salary,Average Salary,No. of Competitors,Python yn
0,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),NaN,True,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0,1
1,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,False,Data Quality Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0,0
2,Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,False,Data Analyst,Senior,37000.0,66000.0,51500.0,1,1
3,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),NaN,False,Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,0,0
4,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,Reporting Data Analyst,Unknown / Non-Applicable,37000.0,66000.0,51500.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2247,Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,NaN,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,NaN,False,Data Security Analyst,Senior,78000.0,104000.0,91000.0,0,0
2248,Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935.0,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",False,Data Analyst,Senior,78000.0,104000.0,91000.0,3,0
2249,"Title: Technical Business Analyst (SQL, Data a...",0.0,Spiceorb,"Denver, CO",Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Business Data Analyst,Unknown / Non-Applicable,78000.0,104000.0,91000.0,0,0
2250,Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),NaN,False,Data Analyst,Lead,78000.0,104000.0,91000.0,0,1
2251,"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",False,Data Quality Analyst,Senior,78000.0,104000.0,91000.0,3,0

In [ ]:
df.to_csv("DataAnalyst_Updated.csv")